@import url('https://fonts.googleapis.com/css?family=Bangers|Electrolize');
.tarjetas {
    display: flex;
}

.card-product {
    width: 175px;
    margin: 30px;
}

.foto-price {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-game {
    font-family: 'Bangers', cursive !important;
    font-size: 40px !important;
    letter-spacing: 4px;
    filter: drop-shadow(2px 2px 1px #999);
}

.info-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: 'Electrolize' !important;
}